<?xml version="1.0"?>
<launch>
  <arg name="config" default="base" />
  <arg name="ns"     default="warthog" />

  <param name="/$(arg ns)/robot_description"
         command="$(find multi_warthog_description)/scripts/env_run
                  $(find multi_warthog_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro '$(find multi_warthog_description)/urdf/warthog.urdf.xacro'
                  'namespace:=$(arg ns)'" />

  <node name="robot_state_publisher2" pkg="robot_state_publisher2" type="robot_state_publisher2" ns="$(arg ns)">
    <param name="prefix_tf_with"     value="$(arg ns)" />
    <param name="robot_description"   value="/$(arg ns)/robot_description" />
  </node>
</launch>
